<!-- Back to top -->
<div (window:scroll)="windowScroll()">
  <!-- note :  [ngxScrollTo] est une directive cf https://angular.io/guide/attribute-directives -->
<a [ngxScrollTo]="'#home-page'" class="back-to-top" id="back-to-top">
  <i class="ti-angle-up"> </i>
</a>
</div>

<!-- Style switcher -->
<!-- FIXME add condition on style depending on if its open or not-->
<div id="style-switcher">
    <div>
        <h3>Select your color</h3>
      <!-- FIXME *ngFor with function 's call on click button -->
        <ul class="pattern">
            <li>
                <a class="color1 nav-link-pointer" ></a>
            </li>
            <li>
                <a class="color2 nav-link-pointer" ></a>
            </li>
            <li>
                <a class="color3 nav-link-pointer"></a>
            </li>
            <li>
                <a class="color4 nav-link-pointer" ></a>
            </li>
            <li>
                <a class="color5 nav-link-pointer" ></a>
            </li>
            <li>
                <a class="color6 nav-link-pointer" ></a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a class="settings">
          <i class="ti-settings ti-spin"></i>
        </a>
    </div>
</div>
<!-- end Style switcher -->
