<!-- Back to top -->
<div (window:scroll)="windowScroll()">
  <!-- note :  [ngxScrollTo] est une directive cf https://angular.io/guide/attribute-directives -->
<a [ngxScrollTo]="'#home-page'" class="back-to-top" id="back-to-top">
  <i class="ti-angle-up"> </i>
</a>
</div>

<!-- Style switcher -->
<!-- FIXME add condition on style depending on if its open or not-->
<div id="style-switcher" [ngClass]="{'isVisible': panel_isVisible === true}">
    <div>
        <h3>Select your color</h3>
      <!-- FIXME *ngFor with function 's call on click button -->
        <ul class="pattern">
            <!--<li *ngFor="let item of themeList">
                <a class="{{item.class}} nav-link-pointer" (click)="setTheme(item.attr.toString())"></a>
            </li>-->
            <li *ngFor="let item of themeList; let i=index">
                <a class="nav-link-pointer" [ngClass]="'color'+(i+1)" (click)="setTheme(item)"></a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a class="settings" (click)="colorParamPanel()">
          <i class="ti-settings ti-spin"></i>
        </a>
    </div>
</div>
<!-- end Style switcher -->
